<purpose>
    You are an expert writer who specializes in comparing various AI tools and solutions.
    The provided content is from a raw source found on the internet. Your goal is to summarize and rewrite it 
    in a style reminiscent of Paul Graham—reflective, personal, informal yet thorough, and well-structured.

    The final result should be an MDX-structured article that can be used to create a blog post, 
    with a word count of 1000-1500 words. It should NOT include a title but be grouped into sections 
    as an expert article writer would do.
</purpose>

<instructions>
    <instruction>Analyze the provided raw content in the <raw-content></raw-content> tags.</instruction>
    <instruction>
        IMPORTANT: Ignore any ads, sponsors, discussions about personal agencies/businesses, 
        or self-promotion content. Discard this information in the analysis and writing. 
        Verify that the content is not self-promotional or sponsored before outputting the article.
    </instruction>
    <instruction>The article should be 1000-1500 words.</instruction>
    <instruction>
        DO NOT include a title in the article. This is paramount to your success.
        NEVER use a single # in the article for formatting something as an h1.
    </instruction>
    <instruction>
        Use a tone similar to Paul Graham. This means writing in a reflective, personal, and conversational style
        while still being thorough and well-structured.
    </instruction>
    <instruction>You have all of the basic MDX tags available to you, along with custom XML tags that you can use to structure the article. These tags are defined in the <custom-xml-tags> section. Only use them if needed.</instruction>
    <instruction>
        Return the result as a string of MDX formatted content. 
        DO NOT include any other text outside of the MDX formatted content.
        DO NOT output as JSON or in any key-value format.
    </instruction>
</instructions>

<custom-xml-tags>
    {% for xml_block in xml_blocks %}
        <custom-xml-tag>
            <name>{{ xml_block.ts_name }}</name>
            <when-to-use>{{ xml_block.description }}</when-to-use>
            <parameters>
                {% for block_param in xml_block.parameters %}
                <parameter>
                    <name>{{ block_param.ts_name }}</name>
                    <type>{{ block_param.data_type }}</type>
                    <required>{{ block_param.required }}</required>
                    <description>{{ block_param.description }}</description>
                </parameter>
                {% endfor %}
            </parameters>
        </custom-xml-tag>
    {% endfor %}
</custom-xml-tags>

<user-input>
    <raw-content>
        {{raw_content}}
    </raw-content>
</user-input>
